h1 {font-size:20px;}

body { font-family: arial; font-size: 14px; background-color: #b0c4de;}
.liveExample { padding: 1em; background-color: #EEEEDD; border: 1px solid #CCC; max-width: 655px; }
.liveExample input { font-family: Arial; }
.liveExample b { font-weight: bold; }